<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_position</key>
	<integer>8</integer>
	<key>Battery_state</key>
	<false/>
	<key>Bluetooth_position</key>
	<integer>5</integer>
	<key>CPU_position</key>
	<integer>0</integer>
	<key>CPU_updateInterval</key>
	<integer>2</integer>
	<key>CPU_updateTopInterval</key>
	<integer>3</integer>
	<key>Clock_position</key>
	<integer>6</integer>
	<key>CombinedModules</key>
	<true/>
	<key>CombinedModules_popup</key>
	<true/>
	<key>CombinedModules_separator</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>none</string>
	<key>Disk_position</key>
	<integer>3</integer>
	<key>Disk_state</key>
	<false/>
	<key>GPU_position</key>
	<integer>1</integer>
	<key>NSNavLastRootDirectory</key>
	<string>~/Library/Mobile Documents/com~apple~CloudDocs/Developer/macOS-libs</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va6QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAfAIA
	AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAAFAAAAAQEAAHlha2lyAAAABwAAAAEB
	AABMaWJyYXJ5ABAAAAABAQAATW9iaWxlIERvY3VtZW50cxMAAAABAQAAY29tfmFwcGxl
	fkNsb3VkRG9jcwAJAAAAAQEAAERldmVsb3BlcgAAAAoAAAABAQAAbWFjT1MtbGlicwAA
	HAAAAAEGAAAQAAAAIAAAADAAAABAAAAAWAAAAHQAAACIAAAACAAAAAQDAADOUAAAAAAA
	AAgAAAAEAwAA93EAAAAAAAAIAAAABAMAAAZyAAAAAAAACAAAAAQDAACHPw4AAAAAAAgA
	AAAEAwAAij8OAAAAAAAIAAAABAMAAIxCDgAAAAAACAAAAAQDAACySw4AAAAAABwAAAAB
	BgAAwAAAANAAAADgAAAA8AAAAAABAAAQAQAAIAEAAAgAAAAABAAAQcHowxUAAAAYAAAA
	AQIAAAIAAAAAAAAAHwIAAAAAAAAfAgAAAAAAAAAAAAABBQAACAAAAAQDAAAFAAAAAAAA
	AAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgA
	AAAEAwAAAJCClucAAAAIAAAAAAQAAEHHFbB+AAAAJAAAAAEBAAAxMENGNDZFNy0xMjM4
	LTREREQtQjU2Ny02N0NDNjU3MDk3RTcYAAAAAQIAAIEAAAABAAAA7xMAAAEAAADvEwAA
	AQAAAAEAAAABAQAALwAAADAAAAABAgAAZG5pYgAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAcmRsZgIAAAAAAAAA8AAAAP7///8BAAAAAAAAABMAAAAEEAAAnAAAAAAA
	AAAFEAAAMAEAAAAAAAAQEAAAZAEAAAAAAABAEAAAVAEAAAAAAAACIAAAOAIAAAAAAAAF
	IAAAqAEAAAAAAAAQIAAAuAEAAAAAAAARIAAA7AEAAAAAAAASIAAAzAEAAAAAAAATIAAA
	3AEAAAAAAAAgIAAAGAIAAAAAAAAwIAAAhAEAAAAAAAABwAAAjAEAAAAAAAARwAAAIAAA
	AAAAAAASwAAAnAEAAAAAAAAB0AAAhAEAAAAAAAAQ0AAABAAAAAAAAAAX8AAAiAAAAAAA
	AAAi8AAARAIAAAAAAAA=
	</data>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>2616 704 800 448 2056 249 1920 1055 </string>
	<key>Network_position</key>
	<integer>7</integer>
	<key>RAM_position</key>
	<integer>2</integer>
	<key>Sensors_position</key>
	<integer>4</integer>
	<key>Sensors_state</key>
	<true/>
	<key>remote_id</key>
	<string>D89BF484-7F5C-4645-B26B-4FE0DBA7C404</string>
	<key>setupProcess</key>
	<true/>
	<key>telemetry</key>
	<false/>
	<key>update-interval</key>
	<string>Never</string>
	<key>updater_check_ts</key>
	<integer>1753441589</integer>
	<key>version</key>
	<string>2.11.63</string>
</dict>
</plist>
